Flask-Caching==1.10.1
Flask-Compress==1.15.0
Flask-Cors==3.0.10
Flask-Limiter==1.5.0
Flask==1.1.4
flask-restx==1.2.0
Werkzeug==1.0.1
git+https://github.com/politicalwatch/tipi-tasks.git
git+https://github.com/politicalwatch/tipi-data.git
gunicorn==22.0.0
python-pcre==0.7
Six==1.12.0
textract==1.6.5
newrelic==6.2.0.156
natsort==7.0.1
python-slugify==5.0.2
