Flask-Caching==1.8.0
Flask-Cors==3.0.8
Flask-Limiter==1.1.0
Flask==2.3.2
flask-restplus==0.13.0
Werkzeug==0.16.1
git+https://github.com/politicalwatch/tipi-tasks.git
git+https://github.com/politicalwatch/tipi-data.git
gunicorn==20.0.4
python-pcre==0.7
Six==1.12.0
textract==1.6.3
newrelic==6.2.0.156
natsort==7.0.1
python-slugify==5.0.2
