# General (API) settings
NAME = ''
DESCRIPTION = "This document includes all the methods that the {} API offers its users.".format(NAME)
VERSION = '1.0'

# Flask settings
FLASK_SERVER_NAME = 'localhost:5000'
FLASK_DEBUG = True  # Do not use debug mode in production
IP = '0.0.0.0'
PORT = 5000

# Flask-Restplus settings
RESTPLUS_SWAGGER_UI_DOC_EXPANSION = 'list'
RESTPLUS_VALIDATE = True
RESTPLUS_MASK_SWAGGER = False
RESTPLUS_ERROR_404_HELP = False

# Mongo settings
MONGO_HOST = '127.0.0.1'
MONGO_PORT = 27017
MONGO_DBNAME = ''
MONGO_USERNAME = ''
MONGO_PASSWORD = ''

# Alerts
USE_ALERTS = False

# Exclude Namespaces
EXCLUDE_NAMESPACES = []
